name: Ennahar Live Auto-Generator

on:
  schedule:
    - cron: '0 * * * *' # تشغيل كل ساعة
  workflow_dispatch: # تشغيل يدوي للتجربة

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Tools
        run: |
          pip install playwright
          playwright install chromium

      - name: Execute Hunter Script
        run: python extractor.py

      - name: Upload Changes to GitHub
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Action"
          git add results/ennahar.m3u
          git commit -m "Auto-update Ennahar Stream [$(date)]" || exit 0
          git push
